body,
html {
  height: 100%;
  margin: 0;
}

.App {
  font-family: sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Title-wrapper {
  display: flex;
  align-items: center;
}

/* Rest of your styles remain the same */
