.App {
  font-family: sans-serif;

  position: absolute;
  top: -35%;
  left: 5%;
  transform: translate(50%, 50%);
  text-align: center;
  width: 600px;
}

.Title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
